<footer class="footer">
  <% if (theme.footer.enable) {%>
  <div class="social">
    <ul>
      <% for(const item of theme.footer.social){ %>
      <li>
        <a title="<%- item.name %>" href="<%- item.path %>">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-<%- item.icon %>"></use>
        </svg>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <% } %> 
  <% for(const item of theme.footer.more){ %>
  <div class="footer-more">
    <% if (item.path) { %>
    <a href="<%- item.path %>"><%- item.name %></a>
    <% } else { %> <%- item.name %> <% } %>
  </div>
  <% } %>
</footer>
