<div class="container">
  <ul >
    <!-- 遍历渲染文章 -->
    <% page.posts.forEach(function(item) { %>
    <li class="post-item" title="<%- item.title %>">
      <span class="time-m-d"><%- item.date.format("YYYY-MM-DD") %></span>
      <span class="title">
        <a href="<%- url_for(item.path) %>">
          <% if(item.title !== "") { %> <% if (item.top) { %>
          <span
            ><span
              title="<%= __('pinned') %>"
              class="icon iconfont icon-pin-top post-top"
            ></span
            ><%- item.title %></span
          >
          <% } else { %>
          <span><%- item.title %></span>
          <% } %> <% } else { %>
          <span>untitled</span>
          <% } %>
        </a>
      </span>
    </li>
    <% }) %>
  </ul>

  <div class="post-divigation">
    <% if(page.prev !== 0){ %>
    <a href="<%- url_for(page.prev_link)%>" title="previous">
      <svg class="icon divigation-icon" aria-hidden="true">
        <use xlink:href="#icon-angleleft"></use>
      </svg>
    </a>
    <% } %>
    <span class="page-num"><%- page.current %> / <%- page.total -%></span>
    <% if(page.next !== 0){ %>
    <a href="<%- url_for(page.next_link)%>" title="next">
      <svg class="icon divigation-icon" aria-hidden="true">
        <use xlink:href="#icon-angleright"></use>
      </svg>
    </a>
    <% } %>
  </div>
</div>
