<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/header') %>

  <body>
    <!-- header -->
    <%- partial('_partial/navigation') %>

      <main class="main-container">
        <%- body %>
      </main>

      <!-- footer -->
      <%- partial('_partial/footer') %>
        <%- partial('_partial/backtotop') %>
  </body>

  <%- js(['/js/iconfont.js']) %>

</html>